{% extends "base.html" %}

{% block content %}

	<title>Tarefas</title>
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-sm-6 col-md-6">
		
				<h3>Editar</h3>

				<form method="post"> {% csrf_token %}

					<!-- Nome da tarefa -->

					<div class="input-group mb-3">
						
						<div class="input-group-prepend">
					    	<span class="input-group-text">Tarefa</span>
				  		</div>

						<input type="text" name="name" class="form-control" value="{{ task.name }}">

					</div>

					<!-- Input do prazo da tarefa -->

					<div class="input-group mb-3">
						
						<div class="input-group-prepend">
					    	<span class="input-group-text" >Prazo</span>
				  		</div>

						<input type="date" name="lastday" class="form-control" required="" value="{{ task.lastday }}" >

					</div>					
					
					<!-- Input da descrição -->

					<div class="input-group">

					 	<div class="input-group-prepend">
					    	<span class="input-group-text">Descrição</span>
					  	</div>

					  	<textarea class="form-control" name="description">{{ task.description }}</textarea>

					</div>

					<input name="user" value="{{ user.id }}" hidden>

					<!-- Checkbox de tarefa concluída e lembrete de tarefas -->

					<div class="form-group form-check">
					
						{% if task.taskok == True %}
						
							<input type="checkbox" class="form-check-input" id="exampleCheck1" name="taskok" checked>
						
						{% else %}
						
							<input type="checkbox" class="form-check-input" id="exampleCheck1" name="taskok">
						
						{% endif %}
						
						<label class="form-check-label" for="exampleCheck1">Concluído</label>

						<br>

						{% if task.remember_me == True %}
						
							<input type="checkbox" class="form-check-input" id="exampleCheck1" name="taskok" checked>
						
						{% else %}
						
							<input type="checkbox" class="form-check-input" id="exampleCheck1" name="remeber_me">
						
						{% endif %}

						<label class="form-check-label" for="exampleCheck1">Lembre-me</label>

					</div>

					<!-- Botões do form -->

					<br>
					<button class="btn btn-dark" type="Submit" > Editar </button>
          <!-- Button trigger modal -->
  

          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
            Apagar
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Apagar tarefa {{ task.name }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Tem certeza que deseja apagar essa tarefa ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <a class="btn btn-danger" href="/task/delete/{{ task.pk }}">Apagar</a>
                </div>
              </div>
            </div>
          </div>

				</div>

			</form>
			
		</div>

	</div>

{% endblock %}