@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Share Tech Mono';
	
}

div.container {
	height: 100vh;
}

#description {
	padding-top: 10%;
}

#carousel {
	padding-top: 5%;
}

.navbar {
  background: black;
  margin-bottom: 20px;
}

.collapse {
  margin-left: 40%;
}

a.nav-link {
	color: #fff;
	font-size: 20px;
  margin-right: 55px;
}

a.nav-link:hover {
  color: black;
  background: white;
  border-radius: 3px;
}

a.navbar-brand {
	color: white;
	border-radius: 3px;
	font-size: 30px;
}

.btn.btn-dark {
	background-color: black;
	color: white;
}


#text-contact {
	background-color: black;
	padding: 10px;
	color: white;
}

button.navbar-toggler {
	color: white;
	background-color: black;
}

footer {
	position: fixed;
  width: 100%;
	bottom: 0;
	background-color: black;
}

footer i {
	color: white;
}

footer a:hover {
  text-decoration: none;
}

#dropdownUser {
  text-transform: uppercase;
}