{% extends "base.html" %}

{% block content %}

  <title>Ajuda</title>

	<div class="container-fluid-container-sm">

		<div class="row">
			
			<div class="col-8 m-5">
				
				<h2>O que é ?</h2>

				<h5>
					<li>
						
					O projeto <b>PL27000</b> foi feito pensando nos estudantes de todas as áreas, logo todas as ferramentas e conteúdos compartilhados aqui tem como finalidade o auxílio dessas pessoas.

					</li>
				</h5>

			</div>

			<div class="col-8 m-5">
				
				<h2>Como funciona ?</h2>

				<h5>
					<li>
						


					</li>
				</h5>

			</div>

		</div>
		
	</div>

{% endblock %}